<%= content_for :meta_title, "Yourdomain - Your Meta" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1167355/pexels-photo-1167355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1>Banner</h1>
  </div>
</div>

<div class="container page-min-height">
  <h2>Example btn Stripe</h2>
  <article> 
  <script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1Mppv7KKtQnf8aE4fQqj2e0o"
  publishable-key="pk_test_51IUaE2KKtQnf8aE42pXFWBsteuriJNV5X3TzjLXkhQcwuzGUki2YYlorCXkjn4t5XtP2psmCr3Df5tBvRsp1ymFz00A1tQ6e80"
>
</stripe-buy-button>
   </article>
  <aside>  </aside>
</div>
